<table width="100%" border=0>
<tr>

<td valign="top">
<h1>Welcome Business</h1>

<br> 

<h3 style="padding-left: 150px;">Create a new offer here:</h3>

<br>
<br> 
	
	 	<div class="input" style="padding-left: 50px; margin-top: -10px; ">
	 	
		 	 Category:
				<select id="timezone" tabindex="6" name="timezone">
				<option value="1">Bar/Restaurant</option>
				<option value="2">Entertiantment</option>
				<option value="3">Service</option>
				</select>
		</div>
		
		<div class="input" style="padding-left: 50px;">
			Description:
				<select id="timezone" tabindex="10" name="timezone">
				<option value="1">discount</option>
				<option value="2">free</option>
				</select>
		</div>
		
		<div class="input" style="padding-left: 50px;">
			
				<label for="firstName">Offer terms*:</label>
				<input tabindex="0" type="text" id="firstName" name="firstName" value=""/>
				<br>
				<br>
		</div>

	<input class="input_button" style= "margin-left: 275px;" type="submit" value="add Offer" name="commit"/>

</div>