%h1 Step 2

- semantic_form_for :business, :url => { :action => :step3 }  do |f|
  = f.error_messages

  %p Locations
  .buttons= wizardly_submit

%script{:type => 'text/javascript'}
  document.getElementById('business_locations').focus();s