<%= link_to(image_tag("foursquare_logo.png"), @oauth_request.authorize_url) %>
<table border="0" cellpadding="0" cellspacing="0" width="971">
  <tr><!-- row 2 -->
   <td rowspan="4"><img name="home_with_images_r2_c1" src="/images/home_with_images_r2_c1.gif" width="514" height="381" border="0" id="home_with_images_r2_c1" alt="" /></td>
   <td colspan="3"><img name="home_with_images_r2_c2" src="/images/home_with_images_r2_c2.gif" width="378" height="172" border="0" id="home_with_images_r2_c2" alt="" /></td>
   <td rowspan="4"><img name="home_with_images_r2_c5" src="/images/home_with_images_r2_c5.gif" width="79" height="381" border="0" id="home_with_images_r2_c5" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="172" border="0" alt="" /></td>
  </tr>
  <tr><!-- row 3 -->
   <td colspan="3"><img name="home_with_images_r3_c2" src="/images/home_with_images_r3_c2.gif" width="378" height="23" border="0" id="home_with_images_r3_c2" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="23" border="0" alt="" /></td>
  </tr>
  <tr><!-- row 4 -->
   <td rowspan="2"><img name="home_with_images_r4_c2" src="/images/home_with_images_r4_c2.gif" width="134" height="186" border="0" id="home_with_images_r4_c2" alt="" /></td>
   <td><a href="javascript:;" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('home_with_images_r4_c3','','/images/home_with_images_r4_c3_f2.gif',1);"><img name="home_with_images_r4_c3" src="/images/home_with_images_r4_c3.gif" width="232" height="57" border="0" id="home_with_images_r4_c3" alt="" /></a></td>
   <td rowspan="2"><img name="home_with_images_r4_c4" src="/images/home_with_images_r4_c4.gif" width="12" height="186" border="0" id="home_with_images_r4_c4" alt="" /></td>
   <td><img src="/images/spacer.gif" width="1" height="57" border="0" alt="" /></td>
  </tr>
<!--   This table was automatically created with Macromedia Fireworks   -->
<!--   http://www.macromedia.com   -->
</table>
