<table border="0px" width="100%">
<tr>
<td>
<img src="/images/home1.png">
</td>
<td align="center"> <img src="/images/foursquarelogo.png">
</td></tr>
<tr>
<td>
</td>
<td align="center"><%= link_to(image_tag("join_button.png"), @oauth_request.authorize_url) %></td>
</tr>
</table>