%h1 Create Your Store Now!

%p Begin marketing on the mobile phone and the Web by creating a Store.  People will be able to find, locate, and recommend you... and you'll be able to provide them offers to increase your foot traffic!

= link_to "Get Started!", step1_store_wizard_url