%h1 Step 3: Review

%ul
  %li= link_to "Complete", complete_store_wizard_path, :method => :post

%pre= @business.to_yaml

.buttons
  %ul
    %li= link_to "Back", step2_store_wizard_path
    %li= link_to "Cancel", cancel_store_wizard_path, :method => :post