%h1 Create an Offer

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu nibh ante, id adipiscing lorem. Duis hendrerit tellus a felis egestas consectetur. Proin id arcu vitae orci faucibus condimentum. Fusce ut neque eget justo sodales fermentum. Sed et suscipit nisl. Ut augue felis, suscipit sed ornare sed, lacinia et urna. Vivamus quis felis rutrum est posuere elementum vitae rhoncus lacus. Cras a justo diam, feugiat tincidunt augue. Sed pharetra euismod magna. Sed ut nulla sit amet urna dapibus lobortis sed vel tortor. Vestibulum ac elit sit amet nibh interdum auctor. Morbi eget interdum nibh. Aliquam semper tincidunt odio et pharetra. Cras cursus posuere dolor et ornare. Quisque hendrerit consectetur dolor, in mollis augue facilisis eu. Sed fermentum ornare elit, mollis tempor nunc accumsan et. Donec egestas egestas sapien quis rhoncus. Donec quis arcu at neque placerat iaculis.

%li
  %ul= link_to "Get Started", step1_offer_wizard_path